{% extends 'InformaticaPrometheusBundle::layout.html.twig' %}

{% block titulo %}
{% trans %}groups.title{% endtrans %}
{% endblock %}

{% block body %}
    <h2>{% trans %}groups.title{% endtrans %}</h2>
    <br/>
    <table border="1">
        <tr>
            <th>{% trans %}groups.key{% endtrans %}</th>
            <th>{% trans %}groups.year{% endtrans %}</th>
            <th>{% trans %}groups.period{% endtrans %}</th>
            <th>{% trans %}groups.semester{% endtrans %}</th>
            <th>{% trans %}titles.operations{% endtrans %}</th>
        </tr>
        {% for grupo in grupos %}
            <tr>
                <td>{{grupo.clave}}</td>
                <td>{{grupo.anio}}</td>
                <td>{{grupo.periodo}}</td>
                <td>{{grupo.semestre}}</td>
                <td>
                   <a href="{{path('grupo_update',{'clave':grupo.clave} ) }}">Update</a>
                   |
                   <a href="{{path('grupo_remove',{'clave':grupo.clave} ) }}">Remove</a>
                </td>
            </tr>
        {% endfor %}
        <tr><td colspan="5" align="right"><a href="{{path('grupo_new') }}">Nuevo Grupo</a></td></tr>
    </table>


{% endblock %}
